<md-content class="md-padding">
        <md-card class="md-padding">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ "LINK_TITLE" | translate }}</span>
                    <span class="md-subhead">{{ "LINK_SUBTITLE" | translate }}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <table>
                    <tr ng-repeat="x in links | orderBy:'display'">
                        <td>
                            {{ $index + 1 }}.&nbsp;
                        </td>
                        <td>
                            <a href="{{ x.url }}" target="_blank">{{ x.display | translate }}</a>
                        </td>
                    </tr>
                </table>
            </md-card-content>
        </md-card>
    </md-content>